/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */

@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lato:wght@400;700&family=Open+Sans:wght@300&family=Roboto+Condensed&display=swap');

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}


body {
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
    font-size: 18px;
    color: #0f0f0f;
    background-color: #fbfbfb;
    
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    padding: 16px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 8px #585858;
    background-color: #fbfbfb;
    
      
}
 
.logo  {
    width: 50%;
    max-width: 50px;
    
}

.logo img{
    max-width: 100%;
    height: auto;

}
#encabezado {
    display: flex;
    justify-content: space-between;    
    font-size: 20px;
    margin-top: 10px;
    margin-right: 80px;
    
}

nav li:first-child {
    margin-right: 50px;
    
  }
#encabezado1 {
    
    display: inline-block;
     
}

#encabezado2 {
    padding: 16px;
    display: inline-block;
     
}    

.imagen-circular {
    border-radius: 50%;
    object-fit: cover;
    width: 400px;
    height: 400px;
    margin-top: 100px;
    padding: 40px;
    margin-right: 50px;
  
}

h1{
    font-size: 36px;
    text-align: center;
}

p {
    font-size:18px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin: 20px 20px ;
    text-align: center;

}

#boton {
    display: inline;
    align-items: center;
    justify-content: center;
    background-color: #af599e;
    color:  #fbfbfb;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;    
    margin-left: 110px;
}

h2{
    font-size: 28px;
    text-align: center;
    margin-top: 200px;
}

.contacto{
    min-height: 50vh;
    width: 80%;
    margin-top: 150px;
    margin-bottom: 40px;
    margin-left: 40px;
    border-radius: 10px;
    background-color: rgba(175, 89, 158, 0.3);
}

.iconos {
    font-size: 60px;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30%;
    padding: 10px;
      
 }

 footer{
    background-color: #af599e;
    color:  #fbfbfb;
    height: 90px;
 }

 #pie {
    font-size: 18px;
    padding: 30px;
 }
